version: '2'
services:
  {{ ansible_hostname }}:
    image: docker.io/bitnami/postgresql-repmgr:12
    ports:
      - '5432:5432'
    volumes:
      - data0:/bitnami/postgresql
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD={{ pgpass }}
      - POSTGRESQL_USERNAME={{ pguser }}
      - POSTGRESQL_PASSWORD={{ pgpass }}
      - POSTGRESQL_DATABASE=testdb
      - REPMGR_PASSWORD={{ repmgrpass }}
      - REPMGR_PRIMARY_HOST={{ master_hostname }}
      - REPMGR_PRIMARY_PORT=5432
      - REPMGR_PARTNER_NODES={% for item in groups['db'] %}{{ hostvars[item].ansible_hostname }}{% if not loop.last %},{% endif %}{% endfor %}:5432
      - REPMGR_NODE_NAME={{ ansible_hostname }}
      - REPMGR_NODE_NETWORK_NAME={{ ansible_hostname }}
      - REPMGR_PORT_NUMBER=5432
volumes:
  data0:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /data/0
