# {{ ansible_managed }}
# default rules
local   all           {{ pguser }}      	                trust
host    all           {{ pguser }}  	127.0.0.1/32            trust
host    all           {{ pguser }}  	::1/128                 trust
local   all           all                                       peer

{% if pgsql_cluster %}
{%   if pgsql_replication_provider == 'repmgr' %}
# replication rules
local   replication   repmgr                                 trust
host    replication   repmgr            127.0.0.1/32         trust
host    replication   repmgr            10.0.1.0/26          trust

local   repmgr        repmgr                                 trust
host    repmgr        repmgr            127.0.0.1/32         trust
host    repmgr        repmgr            10.0.1.0/26          trust
#{%   elif pgsql_replication_provider == 'basebackup' %}
# replication rules
#{%    for user in pgsql_replication_users %}
#{%      if user.state | default('present') == "present" %}
#host   {{ user.db }}           {{ user.name }}   {{ user.ip|default(( ansible_ens10.ipv4.network + '/' + ansible_ens10.ipv4.netmask  ) | ipaddr('net')) }}           md5
#{%       endif %}
#{%    endfor %}
{%   endif %}
{% endif %}

# fallback
host    all           pgpooler          10.0.1.0/26        md5
host    all           postgres          10.0.1.0/26        md5     
host    all           all          	10.0.1.0/26        md5 
