node_id=1
node_name=ets-pdb201p
conninfo='host=ets-pdb201p user=repmgr dbname=repmgr connect_timeout=10'
data_directory='{{ pgdata }}'
pg_bindir='/usr/lib/postgresql/12/bin'
priority=
async_query_timeout=5
reconnect_attempts=4
reconnect_interval=5
failover=automatic 
promote_command='/usr/bin/repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='/usr/bin/repmgr standby follow -f /etc/repmgr.conf --log-to-file --upstream-node-id=%n'
log_file='/var/log/repmgr/repmgrd.log'
log_level='DEBUG'
log_facility='LOCAL1'
use_replication_slots=true
monitoring_history=true
monitor_interval_secs=5
connection_check_type=ping
pg_basebackup_options='--label=repmgr_backup --max-rate=1024M'
degraded_monitoring_timeout=-1
primary_visibility_consensus=true
standby_disconnect_on_failover=true
service_start_command   = 'sudo pg_ctlcluster 12 main start'
service_stop_command    = 'sudo pg_ctlcluster 12 main stop'
service_restart_command = 'sudo pg_ctlcluster 12 main restart'
service_reload_command  = 'sudo pg_ctlcluster 12 main reload'
repmgrd_service_start_command='sudo systemctl start repmgrd'
repmgrd_service_stop_command='sudo systemctl stop repmgrd'
